/*================================ [Osnovno o stranici pozadina, buttoni, inout polja] ================================*/
body{
	margin:0;
	height: 0;
	padding:0;
    color: #ffffff;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    font-size: 14px;
    background: #b2923b;
	background: -moz-linear-gradient(45deg,  #b2923b 0%, #ae913f 5%, #b19745 8%, #b8a04d 11%, #d0c06a 20%, #dacf80 26%, #ddd690 31%, #dad596 35%, #cfcb93 41%, #9c996e 56%, #7d7e60 66%, #72755d 71%, #5c645b 87%, #444d4e 100%);
	background: -webkit-linear-gradient(45deg,  #b2923b 0%,#ae913f 5%,#b19745 8%,#b8a04d 11%,#d0c06a 20%,#dacf80 26%,#ddd690 31%,#dad596 35%,#cfcb93 41%,#9c996e 56%,#7d7e60 66%,#72755d 71%,#5c645b 87%,#444d4e 100%);
	background: linear-gradient(45deg,  #b2923b 0%,#ae913f 5%,#b19745 8%,#b8a04d 11%,#d0c06a 20%,#dacf80 26%,#ddd690 31%,#dad596 35%,#cfcb93 41%,#9c996e 56%,#7d7e60 66%,#72755d 71%,#5c645b 87%,#444d4e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2923b', endColorstr='#444d4e',GradientType=1 );
}
input, button, textarea {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}
.wrapper {
	position: relative;
	width: 758px;
	max-height: 758px;
	margin: 0 auto;
	margin-top: 10%;
	z-index: 500;
}

/*================================ [Error box za login, registraciju ...] ================================*/
#errorBox {
	background: #dc4e4e;
	border: 1px solid #b94848;
	box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: .3s ease;
    transition: .3s ease;
	width: 600px;
	height: 50px;
	margin-bottom: 3px;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	color: azure; 
}
#reg_errorBox {
	float: left;
	margin-top: 8px;
	background: #dc4e4e;
	border: 1px solid #b94848;
	box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: .3s ease;
    transition: .3s ease;
	width: 758px;
	height: 50px;
	margin-bottom: 3px;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	color: azure; 
}
#reg_okBox {
	float: left;
	margin-top: 8px;
	background: #77d68a;
	box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: .3s ease;
    transition: .3s ease;
	width: 758px;
	height: 50px;
	margin-bottom: 3px;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	color: azure; 
}

/*================================ [Sve vezano za LOGIN] ================================*/
.login_box_input {
	float: left;
	width: 600px;
	height: 150px;
	background: rgba(0,0,0, .2);
	padding: 3px 0;
	box-sizing: border-box;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
#login_box_naslov {
	border-left: 5px solid #ffffff;
    margin-top: 8px;
    padding: 10px 0 10px 20px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
#op {
	float: left;
	margin-left: 15px;
	margin-top: 15px;
}
#login_input {
	outline: none;
	position: relative;
	background: none;
	width: 250px;
	height: 40px;
	border: 0;
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	border-bottom: 1px solid #ffffff;
}
#login_input:focus {
	border-bottom: 2px solid #aa8b3d;
}
.login_box_button {
	outline: none;
	cursor: pointer;
	color: #ddd;
	float: left;
	margin-left: 8px;
	text-align: center;
	width: 150px;
	height: 150px;
	line-height: 60px;
	background: rgba(0,0,0, .2);
	padding: 3px 0;
	box-sizing: border-box;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
.login_box_button i {
	margin-top: 40px;
}
.login_box_button span {
	font-size: 18px;
	text-transform: uppercase;
	margin: 15px;
}
.login_box_button:hover {
	color: #aa8b3d;
	border: 1px solid #aa8b3d;
}
.login_box_button:focus {
	color: white;
	background: #aa8b3d;
}

/*================================ [Sve vezano za REGISTER] ================================*/
#register_box_naslovcek {
	float: left;
	margin-top: 8px;
	width: 758px;
	height: 65px;
	background: #aa8c3d;
	padding: 3px 0;
	box-sizing: border-box;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
#register_box_naslov {
	border-left: 5px solid #fff;
    margin-top: 8px;
    padding: 10px 0 10px 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
#register_box {
	float: left;
	margin-top: 1px;
	width: 758px;
	height: 450px;
	background: #aa8c3d;
	padding: 3px 0;
	display: none;
	box-sizing: border-box;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-webkit-transition: .3s ease;
	transition: .3s ease;
	margin-bottom: 25px;
}
#register_box_input {
	margin-left: 250px;
}
#opa {
	margin-top: 15px;
	color: white;
}
#register_input {
	outline: none;
    position: relative;
    background: none;
    width: 250px;
    height: 40px;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px solid white;
}
#register_input:focus {
	border-bottom: 2px solid white;
}
#register_box_button {
	color: white;
	margin-top: 20px;
	font-weight: 600;
	font-size: 18px;
}
#register_box_button i {
	border: 3px solid white;
	width: 20px;
	padding: 5px;
	border-radius: 100%;
}

/*================================ [Stranica koju ste tražili ne postoji!!!] ================================*/
#obican_box {
	float: left;
	width: 600px;
	height: auto;
	background: rgba(0,0,0, .2);
	padding: 3px 0 12px 0;
	box-sizing: border-box;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
#obican_box_naslov {
	border-left: 5px solid #ffffff;
    margin-top: 8px;
    padding: 10px 0 10px 20px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
#obican_box_button i {
	border: 2px solid #ffffff;
	color: #ffffff;
	width: 15px;
	padding: 5px;
	border-radius: 100%;
	margin-right: 15px;
}

/*================================ [LISTA KORISNIKA] ================================*/
#boxonja {
	float: left;
	width: 600px;
	height: auto;
	background: rgba(0,0,0, .2);
	padding: 3px 0;
	box-sizing: border-box;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
#boxonja_naslov {
	border-left: 5px solid #ffffff;
    margin-top: 8px;
    padding: 10px 0 10px 20px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
#boxonja_button i {
	border: 2px solid #ffffff;
	color: #ffffff;
	width: 15px;
	padding: 5px;
	float: right;
	border-radius: 100%;
	margin-left: 525px;
	margin-top: -35px;
}
#parni_boxonja {
	background: rgba(0,0,0, .2);
}
#table_lista_naslov {
	text-align: center;
	border-bottom: 2px solid #fff;
	padding: 10px 0 10px 20px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
#op {
	float: left;
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 5px;
}

/*================================ [Naslovna pozdravna poruka korisnika] ================================*/
.naslovna_box_naslov {
	border-left: 5px solid #ffffff;
    margin-top: 8px;
    padding: 10px 0 10px 20px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.naslovna_box_input {
	float: left;
	width: 466px;
	height: 150px;
	background: rgba(0,0,0, .2);
	padding: 3px 0;
	box-sizing: border-box;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
.naslovna_box_button {
	outline: none;
	cursor: pointer;
	color: #ddd;
	float: left;
	margin-left: 8px;
	text-align: center;
	width: 150px;
	height: 150px;
	line-height: 60px;
	background: rgba(0,0,0, .2);
	padding: 3px 0;
	box-sizing: border-box;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
.naslovna2_box_button {
	outline: none;
	cursor: pointer;
	color: #ddd;
	float: left;
	margin-right: 8px;
	margin-top: 8px;
	text-align: center;
	width: 150px;
	height: 150px;
	line-height: 60px;
	background: rgba(0,0,0, .2);
	padding: 3px 0;
	box-sizing: border-box;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
.naslovna_box_button i, .naslovna2_box_button i {
	margin-top: 40px;
}
.naslovna_box_button div, .naslovna2_box_button div {
	font-size: 18px;
	text-transform: uppercase;
}
.naslovna_box_button:hover, .naslovna2_box_button:hover {
	color: white;
	background: #aa8b3d;
}

/*================================ [Sve vezano za nova_igra.php] ================================*/
#nova_igra_box1 {
	width: 600px;
	height: 130px;
	padding: 3px 0;
	box-sizing: border-box;
	margin-bottom: 8px;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
#nova_igra_box2 {
	min-height: 300px;
	height: auto;
	padding: 3px 0;
	box-sizing: border-box;
	margin-bottom: 8px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
#igra_broj {
	float: left;
	border-radius: 100%;
	margin-top: 35px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
	border: 5px solid #fff;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
#nova_igra_pitanje {
	float: left;
	width: auto;
	margin-top: 10px;
	margin-left: 15px;
	font-weight: bold;
}
#nova_igra_pitanje span{
	font-weight: 100;
	font-style: italic;
	color: white;
}
.butt_new {
	background: rgba(0,0,0, .2);
    color: white;
    width: 350px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 1px solid rgba(0,0,0, .2);
}
.butt_new:hover {
	background: rgba(0,0,0, .4);
	border: 1px solid rgba(0,0,0, .9);
}
#obican_box2 {
	float: left;
	width: 370px;
	height: auto;
	background: rgba(0,0,0, .2);
	padding: 3px 0 12px 0;
	box-sizing: border-box;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
#obican_box_naslov2 {
	border-left: 5px solid #ffffff;
    margin-top: 8px;
    padding: 10px 0 10px 20px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
#obican_box_button2 i {
	border: 2px solid #ffffff;
	color: #ffffff;
	width: 15px;
	padding: 5px;
	border-radius: 100%;
	margin-right: 15px;
}
#div0{
	width: 350px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	display: block;
}
#div1, #div2, #div3{
	width: 350px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	display: none;
}
.naslov{
	height: auto;
	min-height: 100px;
	padding: 10px;
	font-size: 24px;
	text-align: center;
	padding-top: 15px;
}
.gumbici{
	height: auto;
	padding: 10px;
}
